body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

body {
  padding-top: 35px;
  background: transparent;
}

div.bg {
  background: url("../images/caribbean.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000;  
}

div.col {
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  color: white;
  border: none;
}

.logos {
  height: 25px;
}

p#objective {
  font-size: 1.15em;
  line-height: 1.5em;
}

p#background {
  line-height: 1.5em;
}

.mug {
  padding-top: 35px;
  padding-left: 25px;
  max-height: 200px;
}