body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

body {
  background: transparent;
}

.bg {
  /* The image used */
  background-image: url("../images/caribbean.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.col {
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  color: white;
  border: none;
}

.logos {
  height: 25px;
}

p#objective {
  font-size: 1.15em;
  line-height: 1.5em;
}

p#background {
  line-height: 1.5em;
}